html{
 
    font-size: 100%;
    box-sizing : border-box;
    overflow-x :hidden;
    scroll-behavior: smooth;       /* overflow ?*/

}


.heading{

  
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    
   
}

div.heading > h1 {

    font-family:Luminari;
    font-size: 40px;
    color:rgb(228, 190, 37);
   

}

body {  
      
    background-color:#e3c95e;
    margin: 0px;
}  

.button {   
    background-color: #272e8e;
    border-radius: 7px;  
    width: 100%;  
    color: rgb(255, 251, 0);   
    padding: 10px;   
    margin: 10px 0px;   
    border: none;   
    cursor: pointer;   
}
      
.button:hover {   
    opacity: 0.7;
    font-size: 20px;
}

.cancelbtn {   
    width: auto;   
    padding: 10px 18px;  
    margin: 10px 5px;  

}   
  

form {   
     
    border-radius : 10px; 
    width :auto ;
    padding: 50px;
    max-width: 650px;
    margin:  auto;
    border-radius: 5px;
    
}

.container {   
    padding: 20px;
    height: auto;
    background-color: #746c15;
    border-radius : 15px; 
}
 
  
input{   
    
    width: 100%;  
    margin: 10px 0;  
    padding: 13px 20px;   
    display: inline-block;   
    border: 1px solid rgb(0, 0, 0);   
    box-sizing: border-box;
    font-size : 15px;
 
    
}

label{

    font-family:Palatino, URW Palladio L, serif;
    margin: 5px 0;
    font-weight:550;
    font-size : 20px;
    color:rgb(0, 0, 0);
 }

       

  
.heading{
  
      font-family: 'Courier New', Courier, monospace;
      padding: 0 0 20px 0;
      font-weight: bold;
      color: rgb(255, 255, 255);
}

  .radio{
            margin : 5px;
  }
  
  .select{
    
    width: 150px;
    color:black;
    height:40px;
    margin: 10px 10px 10px 0px;
    padding:10px 0;
  }

div textarea{
    
    width: 100%;
    height:50px;
    margin: 10px 10px 10px 0px ;
    padding: 5px;
}
  




@media (max-width:720px){
    
    html{

        font-size: 50%;
        
    }

    div.heading , div.heading >  h1 {

        font-size: 4vh;
       
    }

}