

@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

:root{
        
    --border: 0.2rem solid black;
}


html{
 
    font-size: 100%;
    box-sizing : border-box;
    overflow-x :hidden;
    scroll-behavior: smooth;       /* overflow ?*/

}

* , *::before, * ::after{

    box-sizing : inherit;
}

body{
    
    margin: 0;
    padding:0;
    line-height: 1.3;
}

::selection{                                

    background-color: rgb(12, 12, 12);
    color: white;
} 

*::-webkit-scrollbar{

    height: .5re,;
    width : 1rem;
    background-color: rgb(255, 255, 255); 
} 

/*
::-webkit-scrollbar-track{

    background-color:transparent;
   
} 

*/
::-webkit-scrollbar-thumb{

    background-color:grey;
   
}  

.btn , .delete-btn{

        margin-top: 1 rem;
        display: inline-block;
        font-size: 1.8rem;
        padding: 1 rem 3 rem;
        cursor : pointer;


}

.btn{

    background-color: green;

}

.delete-btn{
    background-color: red;
}

.header 

{   
       
    background-color:rgba(0, 0, 0, 0.923);
    height:80px;
    padding:none;
    margin:0;
   
}

.header div.section{

    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;

}


.nav_links{
    list-style: none;
}

.nav_links li,a{

    font-family: "Montserrat", sans-serif;
    font-weight: 400;
    font-size: 16px;
    
    text-decoration: none;
    display: inline-block;
    justify-content: space-between;
    color:rgb(238, 235, 235);
    list-style-type: none;
    transition: all 0.2s ease;
    padding:5px;


}

.nav_links li a:hover{
    
    opacity: 0.5;
     
}

.logos > *:hover {
    transform: scale(1.1);
}


.menu{

    display:none;
}




.profile{

    background-color: rgb(188, 46, 46);
    border: var(--border);
    padding : 1px;
    text-align: center;
    position : absolute;
    top: 11%; right:1%; left: 80%; 
    width : 30 rem;
    display: inline-block;                       /*display : none*/
    animation : fadeIn .2s linear; 
    
}

header .section .profile.active {

    display: inline-block;
}


@keyframes fadeIn {

        0%{
            transform: translateY(1rem) ;
        }
}

.profile .name {
    font-size: 2rem;
    color : black;
    font-weight: bold;

}

.profile a {

    color : rgb(228, 228, 228);
    font-weight: 600;
    padding: 1rem;
    letter-spacing: 0.1rem;
    

}

.profile a:hover {

    opacity: 0.5;
    text-decoration: underline;
}

















@media (max-width:720px){
    
    html{

        font-size: 70%;
    }

    .menu{

        display:inline-block;
     }

     

     .header .section .nav_links{

        position :absolute;
        top : 9%;  left: 0 ; right:0;
        border-top: var(--border);
        background-color: black;
        transition: .2s linear;
        /*clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);*/
        clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);



     }

     .header .section .nav_links li{

            display : block ;
            margin : 2rem;

     }

     .header .section .nav_links.active{

        
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);



     } 





}
